<!-- Global site tag (gtag.js) - Google AdWords: 869962716 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-869962716"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-869962716');
</script>


<header id="intro">
    <div class="fullscreen-bg">
<!--        <video loop muted autoplay poster="img/2020/01/Echipa.jpg" class="fullscreen-bg__video"-->
<!--               alt="Background image for small device">-->
<!--            <source src="videos/High_Class_Studio.webm" type="video/webm">-->
<!--            <source src="videos/High_Class_Studio.mp4" type="video/mp4">-->
<!--        </video>-->
    </div>
    <div class="container">
        <div class="table">
            <div class="header-text">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3 class="light white">Profită de oferta noastră și CÂȘTIGĂ o ședință de antrenament la achiziționarea oricărui tip de abonament!
                            Contactează-ne în ce mod îți convine(le găsești pe toate în site) și îți oferim toate detaliile necesare.
                        </h3>
                        <h1 class="white typed">Ai grijă de corpul tău cu echipa High Class Studio!</h1>
                        <span class="typed-cursor">|</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!--<section>-->
<!--    <div class="cut cut-top"></div>-->
<!--    <div class="container">-->
<!--        <div class="row intro-tables">-->
<!--            <div class="col-md-4">-->
<!--                <div class="intro-table intro-table-first">-->
<!--                    <h5 class="white heading">Program</h5>-->

<!--                    <div class="owl-carousel owl-schedule bottom">-->
<!--                        <div class="item">-->
<!--                            <div class="schedule-row row">-->
<!--                                <div class="col-xs-6">-->
<!--                                    <h5 class="regular white">Luni-Vineri</h5>-->
<!--                                </div>-->
<!--                                <div class="col-xs-6 text-right">-->
<!--                                    <h5 class="white">09:00 - 21:00</h5>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="schedule-row row">-->
<!--                                <div class="col-xs-6">-->
<!--                                    <h5 class="regular white">Sâmbătă</h5>-->
<!--                                </div>-->
<!--                                <div class="col-xs-6 text-right">-->
<!--                                    <h5 class="white">09:00 - 14:00</h5>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="schedule-row row">-->
<!--                                <div class="col-xs-6">-->
<!--                                    <h5 class="regular white">Duminică</h5>-->
<!--                                </div>-->
<!--                                <div class="col-xs-6 text-right">-->
<!--                                    <h5 class="white center">Închis</h5>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--&lt;!&ndash;            <div class="col-md-4">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="intro-table intro-table-hover">&ndash;&gt;-->
<!--&lt;!&ndash;                    <h5 class="white heading hide-hover">Ședință de start</h5>&ndash;&gt;-->

<!--&lt;!&ndash;                    <div class="bottom">&ndash;&gt;-->
<!--&lt;!&ndash;                        <h4 class="white heading small-heading no-margin regular">Programează-te azi!</h4>&ndash;&gt;-->
<!--&lt;!&ndash;                        <h4 class="white heading small-pt">Te programezi, te activezi, alegi să continui cu noi si îți facem cadou prima ședință</h4>&ndash;&gt;-->
<!--&lt;!&ndash;                        <a data-toggle="modal" data-target="#modal1" class="btn btn-white-fill expand">Programare</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="col-md-4" id="demos">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="fadeOut owl-carousel">&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="item item1">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <h5 class="white heading">Clienți mulțumiți</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <h4 class="white heading content">"Seriozitate, profesionalism și o atmosferă&ndash;&gt;-->
<!--&lt;!&ndash;                                        minunată!"</h4>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <h5 class="white heading light author">Daniela Țencu</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="item item2">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <h5 class="white heading">Clienți mulțumiți</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <h4 class="white heading content">"Starea mea de sănătate și condiția fizică s-au îmbunătățit considerabil!"</h4>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <h5 class="white heading light author author2">Găzdac Alexandru</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="item item3">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <h5 class="white heading">Clienți mulțumiți</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <h4 class="white heading content">"Rezultate incredibile, după doar 6 ședințe am slăbit 3kg!"</h4>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <h5 class="white heading light author author3">Ionuț Costică</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->

<!--&lt;!&ndash;                            </div>&ndash;&gt;-->

<!--&lt;!&ndash;                            <script>&ndash;&gt;-->
<!--&lt;!&ndash;                                jQuery(document).ready(function($) {&ndash;&gt;-->
<!--&lt;!&ndash;                                    $('.fadeOut').owlCarousel({&ndash;&gt;-->
<!--&lt;!&ndash;                                        items: 1,&ndash;&gt;-->
<!--&lt;!&ndash;                                        animateOut: 'fadeOut',&ndash;&gt;-->
<!--&lt;!&ndash;                                        loop: true,&ndash;&gt;-->
<!--&lt;!&ndash;                                        margin: 10,&ndash;&gt;-->
<!--&lt;!&ndash;                                        autoplay:true,&ndash;&gt;-->
<!--&lt;!&ndash;                                        autoplayTimeout:1000,&ndash;&gt;-->
<!--&lt;!&ndash;                                        autoplayHoverPause:true&ndash;&gt;-->
<!--&lt;!&ndash;                                    });&ndash;&gt;-->
<!--&lt;!&ndash;                                    $('.custom1').owlCarousel({&ndash;&gt;-->
<!--&lt;!&ndash;                                        animateOut: 'slideOutDown',&ndash;&gt;-->
<!--&lt;!&ndash;                                        animateIn: 'flipInX',&ndash;&gt;-->
<!--&lt;!&ndash;                                        items: 1,&ndash;&gt;-->
<!--&lt;!&ndash;                                        margin: 30,&ndash;&gt;-->
<!--&lt;!&ndash;                                        stagePadding: 30,&ndash;&gt;-->
<!--&lt;!&ndash;                                        smartSpeed: 450&ndash;&gt;-->
<!--&lt;!&ndash;                                    });&ndash;&gt;-->
<!--&lt;!&ndash;                                });&ndash;&gt;-->
<!--&lt;!&ndash;                            </script>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--        </div>-->
<!--                </section>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<section id="services" class="section section-padded">


    <div class="container">
        <div class="row text-center title">
            <h2>Servicii</h2>
            <h4 class="light muted">Atinge cele mai bune rezultate printr-un număr variat de antrenamente EMS!</h4>
        </div>
        <div class="row services">
            <div class="col-md-3">
                <div class="service">
                    <div class="icon-holder">
                        <img src="img/icons/heart-blue.png" alt="Inima albastra" class="icon">
                    </div>
                    <h4 class="heading">Antrenament Cardio</h4>

                    <p class="description">Intensitatea impulsului mai scăzută și exerciții mult mai dinamice.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="service">
                    <div class="icon-holder">
                        <img src="img/icons/guru-blue.png" alt="Guru albastru" class="icon">
                    </div>
                    <h4 class="heading">Tonifiere Musculară</h4>

                    <p class="description">Creșterea progresivă a intensitătilor.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="service">
                    <div class="icon-holder">
                        <img src="img/icons/guru-blue.png" alt="Guru albastru" class="icon">
                    </div>
                    <h4 class="heading">Stimularea Metabolismului</h4>

                    <p class="description">Antrenament cu intensități mai scăzute, fără pauză între impulsuri.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="service">
                    <div class="icon-holder">
                        <img src="img/icons/weight-blue.png" alt="Haltera albastra" class="icon">
                    </div>
                    <h4 class="heading">Forță și Rezistență</h4>

                    <p class="description">Se pune accent pe intensitatea impulsului și mai puțin pe dinamica
                        mișcărilor.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="cut cut-bottom"></div>
</section>
<!--<section id="team" class="section gray-bg">
    <div class="container">
        <div class="row title text-center">
            <h2 class="margin-top">Echipa</h2>
            <h4 class="light muted">We're a dream team!</h4>
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="team text-center">
                    <div class="cover" style="background:url('img/team/header_ORG.jpg'); background-size:cover;">
                        <div class="overlay text-center">
                        </div>
                    </div>
                    <img src="img/team/team1.jpg" alt="Team Image" class="avatar">
                    <div class="title">
                        <h4>Alin Măieraș</h4>
                        <h5 class="muted regular">Personal Trainer</h5>
                    </div>
                    <a data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill ripple">Programare</a>
                </div>
            </div>

        </div>
    </div>
</section>-->
<section id="pricing" class="section pricingP1">
    <div class="hccontainer">
        <div class="row title text-center">
            <!--<h3 class="margin-top white">ÎNSCRIE-TE PENTRU ȘEDINȚA DE PROBĂ</h3>-->
            <h2 class="margin-top white">Abonamente</h2>
            <h4 class="light white">Alege tipul de abonament pe care îl dorești!</h4>
        </div>
        <div class="row no-margin">
            <div class="no-padding pricings text-center col-md-11">
                <!--<div class="pricing col-md-5">-->
                    <!--<div class="box-main active"-->
                         <!--title="*Ședință oferită cadou pentru achiziționarea oricărui tip de abonament"-->
                         <!--data-img="img/pricing/pricing3.jpg" alt="Sedinta de proba">-->
                        <!--<h4 class="white">Ședința de probă</h4>-->
                        <!--<h4 class="white regular light">Prima ședință <span class="small-font">/ Gratis</span></h4>-->
                        <!--<a data-toggle="modal" data-target="#modal1" class="btn btn-white-fill">Programare</a>-->
                        <!--<i class="info-icon icon_question"></i>-->
                    <!--</div>-->
                    <!--<div class="box-second active freeSession"-->
                         <!--title="*Ședință oferită cadou pentru achiziționarea oricărui tip de abonament">-->
                        <!--<ul class="white-list text-left">-->
                            <!--<li>Sfaturi nutriționale</li>-->
                            <!--<li>1 ședință de probă</li>-->
                            <!--<li>Antrenor personal</li>-->
                            <!--<li>Antrenament individual</li>-->
                            <!--<li>Antrenament personalizat</li>-->
                            <!--<li>Măsurători corporale</li>-->
                            <!--<li>Sfaturi nutriționale</li>-->
                        <!--</ul>-->
                        <!--<div class="freeCondition"><span>*Ședința este oferită cadou pentru achiziționarea oricărui tip de abonament</span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="pricing col-md-5">-->
                    <!--<div class="box-main" data-img="img/pricing/pricing3.jpg">-->
                        <!--<h4 class="white">Abonament Family </br>(3 luni)</h4>-->
                        <!--<h4 class="white regular light">250 RON <span class="small-font">/ Lună</span></h4>-->
                        <!--<a data-toggle="modal" data-target="#modal1" class="btn btn-white-fill">Programare</a>-->
                        <!--<i class="info-icon icon_question"></i>-->
                    <!--</div>-->
                    <!--<div class="box-second">-->
                        <!--<ul class="white-list text-left">-->
                            <!--<li>12 ședințe de antrenament</li>-->
                            <!--<li>Antrenor personal</li>-->
                            <!--<li>Antrenament individual</li>-->
                            <!--<li>Antrenament personalizat</li>-->
                            <!--<li>Măsurători corporale</li>-->
                            <!--<li>Sfaturi nutriționale</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="row no-margin">
        <!--<div class="no-padding pricings text-center col-md-11 ">-->
            <!--<div class="pricing col-md-5">-->
                <!--<div class="box-main" data-img="img/pricing/pricing3.jpg">-->
                    <!--<h4 class="white">Abonament 3 luni</h4>-->
                    <!--<h4 class="white regular light">280 RON <span class="small-font">/ Lună</span></h4>-->
                    <!--<a data-toggle="modal" data-target="#modal1" class="btn btn-white-fill">Programare</a>-->
                    <!--<i class="info-icon icon_question"></i>-->
                <!--</div>-->
                <!--<div class="box-second">-->
                    <!--<ul class="white-list text-left">-->
                        <!--<li>12 ședințe de antrenament</li>-->
                        <!--<li>Antrenor personal</li>-->
                        <!--<li>Antrenament individual</li>-->
                        <!--<li>Antrenament personalizat</li>-->
                        <!--<li>Măsurători corporale</li>-->
                        <!--<li>Sfaturi nutriționale</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="pricing col-md-5">-->
                <!--<div class="box-main" data-img="img/pricing/pricing3.jpg">-->
                    <!--<h4 class="white">Abonament 6 luni</h4>-->
                    <!--<h4 class="white regular light">240 RON <span class="small-font">/ Lună</span></h4>-->
                    <!--<a data-toggle="modal" data-target="#modal1" class="btn btn-white-fill">Programare</a>-->
                    <!--<i class="info-icon icon_question"></i>-->
                <!--</div>-->
                <!--<div class="box-second">-->
                    <!--<ul class="white-list text-left">-->
                        <!--<li>24 ședințe de antrenament</li>-->
                        <!--<li>Antrenor personal</li>-->
                        <!--<li>Antrenament individual</li>-->
                        <!--<li>Antrenament personalizat</li>-->
                        <!--<li>Măsurători corporale</li>-->
                        <!--<li>Sfaturi nutriționale</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="row no-margin">
        <div class="no-padding pricings text-center col-md-11 bottomMargin">
            <!--<div class="pricing col-md-5" style="margin-left:21%">-->
                <!--<div class="box-main  offer" data-img="img/pricing/pricing3.jpg" alt="Abonament lunar">-->
                    <!--<h4 class="white"><strong>Abonament lunar</strong></h4>-->
                    <!--<h4 class="white regular light">360 RON</h4>-->
                    <!--&lt;!&ndash;<h4 class="white regular light">249 RON</h4>&ndash;&gt;-->
                    <!--<a data-toggle="modal" data-target="#modal1" class="btn btn-white-fill">Programare</a>-->
                    <!--<i class="info-icon icon_question"></i>-->
                <!--</div>-->
                <!--<div class="box-second  offer">-->
                    <!--<ul class="white-list text-left">-->
                        <!--<li>4 ședințe de antrenament</li>-->
                        <!--<li>Antrenor personal</li>-->
                        <!--<li>Antrenament individual</li>-->
                        <!--<li>Antrenament personalizat</li>-->
                        <!--<li>Măsurători corporale</li>-->
                        <!--<li>Sfaturi nutriționale</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <div class="container">
                <div id="linksP1">
                    <a href="img/pricing/prices.jpg" title="HCS" data-gallery="">
                        <img src="img/pricing/prices.jpg" width="600" height="800"  sizes="(max-width: 300px) 100vw, 300px">
                    </a>
                </div>

                <section id="appointment">
                    <div class="col-md-12 in-site-appoint">
                        <div class="col-md-10 col-md-offset-2">
                            <h3 class="white">Dacă dorești să te programezi la o ședință de antrenament, lasă-ne datele tale de contact mai jos și noi te vom contacta în cel mai scurt timp posibil!</h3>
                            <div ng-controller="AppointmentController as appointmentCtrl">
                                <form name="form" autocomplete="off" novalidate>
                                    <input type="text" name="client" class="form-control form-white"
                                           ng-class="{'emptyInput': (form.client.$invalid && !form.client.$pristine) || (form.client.$touched || form.$submitted) && !form.client.$valid}"
                                           placeholder="Nume" ng-model="appointmentCtrl.name" required>

                                    <div ng-show="(form.client.$invalid && !form.client.$pristine) || (form.client.$touched || form.$submitted) && !form.client.$valid"
                                         aria-live="assertive"
                                         class="ng-active" aria-hidden="false"> <!---->
                                        <div ng-message="required" class="message">
                                            Te rugăm să introduci numele.
                                        </div>
                                    </div>

                                    <input type="email" name="email" class="form-control form-white"
                                           ng-class="{'emptyInput': (form.email.$invalid && !form.email.$pristine) || (form.email.$touched || form.$submitted) && !form.email.$valid}"
                                           placeholder="Adresa de email" ng-model="appointmentCtrl.email" required>

                                    <div ng-show="(form.email.$invalid && !form.email.$pristine) || (form.email.$touched || form.$submitted) && !form.email.$valid"
                                         aria-live="assertive"
                                         class="ng-active" aria-hidden="false"> <!---->
                                        <div ng-message="required" class="message">
                                            Te rugăm să introduci adresa de email.
                                        </div>
                                    </div>
                                    <input type="number" name="phone" class="form-control form-white"
                                           ng-class="{'emptyInput': (form.phone.$invalid && !form.phone.$pristine) || (form.phone.$touched || form.$submitted) && !form.phone.$valid}"
                                           placeholder="Telefon" ng-model="appointmentCtrl.phone" required>

                                    <div ng-show="(form.phone.$invalid && !form.phone.$pristine) || (form.phone.$touched || form.$submitted) && !form.phone.$valid"
                                         aria-live="assertive"
                                         class="ng-active" aria-hidden="false"> <!---->
                                        <div ng-message="required" class="message">
                                            Te rugăm să introduci numărul de telefon.
                                        </div>
                                    </div>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" name="terms-of-service" id="cb2" ng-model="isSigned">
                                        <label for="cb2">Am citit și sunt de acord cu <a id="inner-appointment" href="#terms-of-service" target="_blank">nota de informare privind protecția datelor</a></label>
                                    </div>
                                    <div ng-show="(form.terms-of-service.$invalid && !form.terms-of-service.$pristine) || (form.terms-of-service.$touched || form.$submitted) && !isSigned" aria-live="assertive"
                                         class="ng-active" aria-hidden="false"> <!---->
                                        <div  ng-message="required" class="message">
                                            Te rugăm să confirmi ca ai citit si esti de acord cu nota de informare privind <br>
                                            protecția datelor.
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-submit" ng-click="addAppointments()">Trimite</button>
                                </form>
                                <div class="alert alert-success app-alert" ng-show="isAppoint">
                                    <a class="close"  ng-click="hideSuccesMsg()">&times;</a>
                                    Felicitări<strong> {{name}}</strong>! <br/>
                                    Programarea ta a fost înregistrată cu succes. <br/>
                                    În curând vei fi contactat telefonic pentru a confirma data și ora. <br/>
                                    Mulțumim.
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" style="display: none;">
                <!-- The container for the modal slides -->
                <div class="slides" style="width: 192000px;"></div>
                <!-- Controls for the borderless lightbox -->
                <h3 class="title">Album</h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="close">×</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
                <!-- The modal dialog, which will be used to wrap the lightbox content -->
                <div class="modal fade">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" aria-hidden="true">×</button>
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body next"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left prev">
                                    <i class="glyphicon glyphicon-chevron-left"></i>
                                    Previous
                                </button>
                                <button type="button" class="btn btn-primary next">
                                    Next
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-offset-8">-->
                <!--<a href="img/pricing/prices3.jpg">-->
                    <!--<img class="aligncenter wp-image-1163 size-full" src="img/pricing/prices3.jpg" alt="Preturi_TM" width="637" height="900"  sizes="(max-width: 637px) 100vw, 637px">-->
                <!--</a>-->

            <!--</div>-->
        </div>

    </div>

</section>

<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-popup">

            <a class="close-link"><i class="icon_close_alt2"></i></a>
            <h3 class="white">Dacă dorești să te programezi la o ședință de antrenament, lasă-ne datele tale de contact mai jos și noi te vom contacta în cel mai scurt timp posibil!</h3>
            <div ng-controller="AppointmentController as appointmentCtrl">
                <form name="form" autocomplete="off" novalidate>
                    <input type="text" name="client" class="form-control form-white" ng-class ="{'emptyInput': (form.client.$invalid && !form.client.$pristine) || (form.client.$touched || form.$submitted) && !form.client.$valid}" placeholder="Nume" ng-model="appointmentCtrl.name" required>
                    <div ng-show="(form.client.$invalid && !form.client.$pristine) || (form.client.$touched || form.$submitted) && !form.client.$valid" aria-live="assertive"
                         class="ng-active" aria-hidden="false"> <!---->
                        <div  ng-message="required" class="message">
                            Te rugăm să introduci numele.
                        </div>
                    </div>
                    <input type="email" name="email" class="form-control form-white" ng-class ="{'emptyInput': (form.email.$invalid && !form.email.$pristine) || (form.email.$touched || form.$submitted) && !form.email.$valid}" placeholder="Adresa de email" ng-model="appointmentCtrl.email" required>
                    <div ng-show="(form.email.$invalid && !form.email.$pristine) || (form.email.$touched || form.$submitted) && !form.email.$valid" aria-live="assertive"
                         class="ng-active" aria-hidden="false"> <!---->
                        <div  ng-message="required" class="message">
                            Te rugăm să introduci adresa de email.
                        </div>
                    </div>
                    <input type="text" name="phone" class="form-control form-white" ng-class ="{'emptyInput': (form.phone.$invalid && !form.phone.$pristine) || (form.phone.$touched || form.$submitted) && !form.phone.$valid}" placeholder="Telefon" ng-model="appointmentCtrl.phone" required>
                    <div ng-show="(form.phone.$invalid && !form.phone.$pristine) || (form.phone.$touched || form.$submitted) && !form.phone.$valid" aria-live="assertive"
                         class="ng-active" aria-hidden="false"> <!---->
                        <div  ng-message="required" class="message">
                            Te rugăm să introduci numărul de telefon.
                        </div>
                    </div>

                    <div class="custom-checkbox">
                        <input type="checkbox" name="terms-of-service" id="cb1" ng-model="isSigned">
                        <label for="cb1">Am citit și sunt de acord cu <a href="#terms-of-service" target="_blank">nota de informare privind protecția datelor</a></label>
                    </div>
                    <div ng-show="(form.terms-of-service.$invalid && !form.terms-of-service.$pristine) || (form.terms-of-service.$touched || form.$submitted) && !isSigned" aria-live="assertive"
                         class="ng-active" aria-hidden="false"> <!---->
                        <div  ng-message="required" class="message">
                            Te rugăm să confirmi ca ai citit si esti de acord cu nota de informare privind <br>
                            protecția datelor.
                        </div>
                    </div>
                    <button type="submit" class="btn btn-submit" ng-click="addAppointments()">Trimite</button>
                </form>
                <div id="appAlert" class="alert alert-success" ng-if="isAppoint">
                    <a  class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    Felicitări<strong> {{firstname}}</strong>! <br/>
                    Programarea ta a fost înregistrată cu succes. <br/>
                    În curând vei fi contactat telefonic pentru a confirma data și ora. <br/>
                    Mulțumim.
                </div>
            </div>
            <div id="appAlertt" ng-controller="AlertController" uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">
                {{alert.msg}}
            </div>
        </div>
    </div>
</div>




<!-- Holder for mobile navigation -->
<div class="mobile-nav">
    <ul>
    </ul>
    <a href="#" class="close-link"><i class="arrow_up"></i></a>
</div>



