<!-- Global site tag (gtag.js) - Google AdWords: 869962716 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-869962716"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-869962716');
</script>

<div class="fullscreen-bg">

<!--    <video loop muted autoplay poster="img/2020/01/Echipa.jpg" class="fullscreen-bg__video" alt="Header pentru dispozitive mai mici">-->
        <!--<source src="videos/video1.webm" type="video/webm">-->
        <!--<source src="videos/video1.mp4" type="video/mp4">-->
<!--    </video>-->
</div>
<section class="cd-faq">

    <ul class="cd-faq-categories">
        <li><a class="selected" href="#basics">Despre EMS</a></li>
        <li><a href="#mobile">Despre HCS</a></li>
        <li><a href="#account">General</a></li>
    </ul> <!-- cd-faq-categories -->

    <div class="cd-faq-items">
        <ul id="basics" class="cd-faq-group">
            <li class="cd-faq-title"><h2>Despre EMS</h2></li>
            <li>
                <a class="cd-faq-trigger">Ce înseamnă EMS?</a>
                <div class="cd-faq-content">
                    <p>EMS înseamnă stimularea electrică musculară și reprezintă contracția musculaturii prin impulsuri electrice.</p>
                </div> <!-- cd-faq-content -->
            </li>
            <li>
                <a class="cd-faq-trigger" >La ce ajută antrenamentul EMS?</a>
                <div class="cd-faq-content">
                    <div class="list-group">
                        <a class="list-group-item">
                            <h4 class="list-group-item-heading">SĂNĂTATE</h4>
                            <p class="list-group-item-text">Ameliorează durerile de spate;</p>
                            <p class="list-group-item-text">Îmbunătățește circulația sangvină, întărind sistemul cardio-vascular; </p>
                            <p class="list-group-item-text">Recuperare postoperatorie;</p>
                        </a>
                        <a class="list-group-item">
                            <h4 class="list-group-item-heading">FITNESS</h4>
                            <p class="list-group-item-text">Accelerează metabolismul;</p>
                            <p class="list-group-item-text">Stimulează profund țesuturile musculare; </p>
                            <p class="list-group-item-text">Nu pune presiune pe articulații;</p>
                        </a>
                        <a class="list-group-item">
                            <h4 class="list-group-item-heading">TONIFIERE</h4>
                            <p class="list-group-item-text">Tratează celulita și diminueazățesutul adipos;</p>
                            <p class="list-group-item-text">Stimulează corpul la nivel cellular; </p>
                            <p class="list-group-item-text">Ajută la scăderea în greutate.</p>
                        </a>
                    </div>
                </div> <!-- cd-faq-content -->
            </li>
            <li>
                <a class="cd-faq-trigger" >Care sunt contraindicațiile antrenamentului EMS?</a>
                <div class="cd-faq-content">
                    <div class="list-group">
                        <a class="list-group-item list-group-item-danger">
                            <h4 class="list-group-item-heading">Antrenamentul este interzis sau se poate face doar după consimțământul medicului în următoarele cazuri:</h4>
                            <p class="list-group-item-text ">Stimulatoare cardiace(peacemaker) sau alte implanturi electrice;</p>
                            <p class="list-group-item-text">Tulburări puternice de tensiune arterial;</p>
                            <p class="list-group-item-text">Sarcină;</p>
                            <p class="list-group-item-text">Boli tumorale;</p>
                            <p class="list-group-item-text">Boli respiratorii(astm), circulatorii sau cardiovasculare;</p>
                            <p class="list-group-item-text">Diabet zaharat;</p>
                            <p class="list-group-item-text">Hernie inghinală;</p>
                            <p class="list-group-item-text">Boli neurologice grave(epilepsie, sclerozămultiplă, ...)</p>
                            <p class="list-group-item-text">Boli de sânge(hemofilie);</p>
                            <p class="list-group-item-text">Infecții virale sau bacteriene agresive, procese inflamatorii(artrită, cancer);</p>
                        </a>
                    </div>
                </div> <!-- cd-faq-content -->
            </li>


        </ul> <!-- cd-faq-group -->

        <ul id="mobile" class="cd-faq-group">
            <li class="cd-faq-title"><h2>Despre HCS</h2></li>
            <li>
                <a class="cd-faq-trigger" >De ce High Class Studio?</a>
                <div class="cd-faq-content">
                    <p>Dorim să aducem un plus de valoare și încredere în viată fiecărui client, corpul nostru fiind singurul loc în care trebuie să trăim.
                        Antrenamentul EMS la High Class Studio stimulează toate grupele musculare.
                        La fiecare ședință te vei antrena sub atenta supraveghere a unui antrenor personal(niciodată singur),
                        care îți v-a concepe  un program de antrenament personalizat în funcție de obiectivele tale.
                        Acest tip de electrostimulare combinată cu exercițiile atent selectate și un stil ordonat de
                        viață vor conduce la rezultatele dorite într-un timp scurt.</p>
                </div> <!-- cd-faq-content -->
            </li>
            <li>
                <a class="cd-faq-trigger" >Ce înseamnă ședința de start?</a>
                <div class="cd-faq-content">
                    <p>
                        Ședința de start este prima ședință efectuată în studio-ul nostru.
                        Această ședință este gratuită dacă se alege o variantă de abonament la finele ei.</p>
                </div> <!-- cd-faq-content -->
            </li>


            <li>
                <a class="cd-faq-trigger" >Cum ne alegem antrenorii?</a>
                <div class="cd-faq-content">
                    <p>High Class Studio pune preț pe calitate, de aceea toți antrenori selecționați sunt instruiți conform standardelor trainingului Miha Bodytec. Antrenorii pe care îi găsiți în studioul nostru sunt persoane cu o vastă experiență în domeniul EMS care vă pot oferi informații legate de alimentația necesară pentru a obtine rezultatele dorite. </p>
                </div> <!-- cd-faq-content -->
            </li>

            <li>
                <a class="cd-faq-trigger" >Cum pot face programare?</a>
                <div class="cd-faq-content">
                    <p class="">Apasă pe butonul Programare din cadrul site-ului și completează cu datele personale. În
                        scurt timp vei fi sunat pentru confirmarea programării făcute. </p>
                </div> <!-- cd-faq-content -->
            </li>
        </ul> <!-- cd-faq-group -->

        <ul id="account" class="cd-faq-group">
            <li class="cd-faq-title"><h2>General</h2></li>
            <li>
                <a class="cd-faq-trigger" >De ce doar o dată pe săptămână?</a>
                <div class="cd-faq-content">
                    <p>Nu există nici un risc sau contraindicație a acestui lucru, însă corpului trebuie să îi acordăm timp pentru refacere. Studiile făcute în acest sens ne arată că antrenamentele mai dese nu oferă rezultate mai bune, ci perioada în care le facem. Exercițiul trebuie să devină un stil de viață ceea ce poartă numele de fitness emoțional.</p>
                </div> <!-- cd-faq-content -->
            </li>
            <li>
                <a class="cd-faq-trigger" >Se poate face acest tip de antrenament dacă alăptez?</a>
                <div class="cd-faq-content">
                    <p>Da, se poate face, intensitatea impulsurilor se reglează pe fiecare grupă musculară în parte, în cazul dumneavoastră vom evita atât exercițiile care implică zonă pieptului cât și intensitatea electrică din această zonă.</p>
                </div> <!-- cd-faq-content -->
            </li>
            <li>
                <a class="cd-faq-trigger" >Cât de repede se văd rezultatele?</a>
                <div class="cd-faq-content">
                    <p>Încă după primul antrenament se va simți o diferență, stara generală se va îmbunătăți datorită tehnologiei EMS care acționează în profunzime asupra mușchilor.
                        După o zi sau două de la antrenament s-ar putea să apară și febra musculară.
                        După aproximativ 5-6 antrenamente vor apărea și primele rezultate în urma antrenamentelor.
                        La fel ca și un antrenament în sala de fitness clasicăantrenamentul EMS trebuie făcut regulat pentru a obține rezultatele dorite. </p>
                </div> <!-- cd-faq-content -->
            </li>
            <li>
                <a class="cd-faq-trigger" >Este antrenamentul EMS dureros?</a>
                <div class="cd-faq-content">
                    <p>NU! Tehnologie EMS utilizează impulsuri de joasă frecvență, iar antrenorul va ajusta frecvența în funcție de capacitatea de efort a fiecărei persoane.</p>
                </div> <!-- cd-faq-content -->
            </li>
            <li>
                <a class="cd-faq-trigger" >Care este diferența dintre electrostimularea clasică și electrostimularea activă(EMS)?</a>
                <div class="cd-faq-content">
                    <p>În primul rând antrenamentul EMS efectuat în studioul High Class Studio se bazează pe antrenarea întregului corp într-o ședință de antrenament.
                        O altă diferență esențială ar fi că aparatul EMS este capabil să stimuleze atât mușchii agoniști cât și cei antagoniști.
                        Această metodă de antrenament combinată cu exercițiile folosite conform necesităților dumneavoastră de către un antrenor profesionist vor duce la rezultate extraordinare.
                    </p>
                </div> <!-- cd-faq-content -->
            </li>
            <li>
                <a class="cd-faq-trigger" >Trebuie să mănânc înainte de antrenament?</a>
                <div class="cd-faq-content">
                    <p>DA! Ideal ar fi ca masa pe care o luăm să fie cu aproximativ două ore înainte de antrenament pentru a avea suficientă energie.
                        Un mușchi funcționează atunci când îl supunem unei anumite tensiuni, iar energia pe care o consumăm (mâncarea), ne dă puterea de a-l relaxa și de a-l contracta.
                        Un alt aspect important este și hidratarea cu un minim de 500 ml de apă înainte de antrenament pentru a asigura o cât mai bună hidratare a corpului.
                    </p>
                </div> <!-- cd-faq-content -->
            </li>
        </ul> <!-- cd-faq-group -->
    </div> <!-- cd-faq-items -->
</section> <!-- cd-faq -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-popup">

            <a class="close-link"><i class="icon_close_alt2"></i></a>
            <h3 class="white">Dacă dorești să te programezi la o ședință de antrenament, lasă-ne datele tale de contact mai jos și noi te vom contacta în cel mai scurt timp posibil!</h3>
            <div ng-controller="AppointmentController as appointmentCtrl">
                <form name="form" autocomplete="off" novalidate>
                    <input type="text" name="client" class="form-control form-white" ng-class ="{'emptyInput': (form.client.$invalid && !form.client.$pristine) || (form.client.$touched || form.$submitted) && !form.client.$valid}" placeholder="Nume" ng-model="appointmentCtrl.name" required>
                    <div ng-show="(form.client.$invalid && !form.client.$pristine) || (form.client.$touched || form.$submitted) && !form.client.$valid" aria-live="assertive"
                         class="ng-active" aria-hidden="false"> <!---->
                        <div  ng-message="required" class="message">
                            Te rugăm să introduci numele.
                        </div>
                    </div>
                    <input type="email" name="email" class="form-control form-white" ng-class ="{'emptyInput': (form.email.$invalid && !form.email.$pristine) || (form.email.$touched || form.$submitted) && !form.email.$valid}" placeholder="Adresa de email" ng-model="appointmentCtrl.email" required>
                    <div ng-show="(form.email.$invalid && !form.email.$pristine) || (form.email.$touched || form.$submitted) && !form.email.$valid" aria-live="assertive"
                         class="ng-active" aria-hidden="false"> <!---->
                        <div  ng-message="required" class="message">
                            Te rugăm să introduci adresa de email.
                        </div>
                    </div>
                    <input type="text" name="phone" class="form-control form-white" ng-class ="{'emptyInput': (form.phone.$invalid && !form.phone.$pristine) || (form.phone.$touched || form.$submitted) && !form.phone.$valid}" placeholder="Telefon" ng-model="appointmentCtrl.phone" required>
                    <div ng-show="(form.phone.$invalid && !form.phone.$pristine) || (form.phone.$touched || form.$submitted) && !form.phone.$valid" aria-live="assertive"
                         class="ng-active" aria-hidden="false"> <!---->
                        <div  ng-message="required" class="message">
                            Te rugăm să introduci numărul de telefon.
                        </div>
                    </div>

                    <div class="custom-checkbox">
                        <input type="checkbox" name="terms-of-service" id="cb1" ng-model="isSigned">
                        <label for="cb1">Am citit și sunt de acord cu <a href="#terms-of-service" target="_blank">nota de informare privind protecția datelor</a></label>
                    </div>
                    <div ng-show="(form.terms-of-service.$invalid && !form.terms-of-service.$pristine) || (form.terms-of-service.$touched || form.$submitted) && !isSigned" aria-live="assertive"
                         class="ng-active" aria-hidden="false"> <!---->
                        <div  ng-message="required" class="message">
                            Te rugăm să confirmi ca ai citit si esti de acord cu nota de informare privind <br>
                            protecția datelor.
                        </div>
                    </div>
                    <button type="submit" class="btn btn-submit" ng-click="addAppointments()">Trimite</button>
                </form>
                <div id="appAlert" class="alert alert-success" ng-if="isAppoint">
                    <a  class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    Felicitări<strong> {{firstname}}</strong>! <br/>
                    Programarea ta a fost înregistrată cu succes. <br/>
                    În curând vei fi contactat telefonic pentru a confirma data și ora. <br/>
                    Mulțumim.
                </div>
            </div>
            <div id="appAlertt" ng-controller="AlertController" uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">
                {{alert.msg}}
            </div>
        </div>
    </div>
</div>
<script src="js/modernizr.js"></script> <!-- Modernizr -->
<script src="js/mainFAQ.js"></script> <!-- Modernizr -->
